version: "3.8"

services:
  # ==========================================
  # THE GATEWAY (Entry Point)
  # ==========================================
  gateway:
    image: nginx:alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - api_store
      - api_internal
    networks:
      - frontend_net

  # ==========================================
  # APPLICATION FLEETS
  # ==========================================

  # 1. Customer Fleet (Storefront)
  api_store:
    build: ./server
    environment:
      - APP_MODULE=store
      - DB_HOST=db_primary
      - DB_USER=admin
      - DB_PASSWORD=password
      - DB_NAME=plantshop
      - DB_PORT=5432
    networks:
      - frontend_net
      - backend_net
    deploy:
      replicas: 2 # Dev: 2 instances

  # 2. POS Fleet (Cashiers)
  api_pos:
    build: ./server
    environment:
      - APP_MODULE=pos
      - DB_HOST=db_primary
      - DB_USER=admin
      - DB_PASSWORD=password
      - DB_NAME=plantshop
      - DB_PORT=5432
    networks:
      - frontend_net
      - backend_net
  # 3. Internal Fleet (Admin/Ops)
  api_internal:
    build: ./server
    environment:
      - APP_MODULE=internal
      - DB_HOST=db_primary
      - DB_USER=admin
      - DB_PASSWORD=password
      - DB_NAME=plantshop
      - DB_PORT=5432
      - APP_MODULE=internal
      - DB_WRITE_HOST=db_primary
      - DB_READ_HOST=db_primary # Admin reads from Primary
    networks:
      - frontend_net
      - backend_net
    deploy:
      replicas: 2 # Dev: 2 instances

  # ==========================================
  # DATA LAYER
  # ==========================================

  # WRITE Database
  db_primary:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: plantshop
    volumes:
      - pg_data_primary:/var/lib/postgresql/data
    networks:
      - backend_net

  # READ Database (Simulation for Dev)
  # In Prod, this needs a replication script. In Dev, we just spin up a 2nd DB
  # or point the app to the primary if you don't want to config replication locally.
  db_replica:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: plantshop
    networks:
      - backend_net

  redis:
    image: redis:alpine
    networks:
      - backend_net

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - backend_net

# ==========================================
# NETWORKS & VOLUMES
# ==========================================
networks:
  frontend_net: # Gateway <-> Apps
  backend_net: # Apps <-> DB/Redis (Gateway cannot see this)

volumes:
  pg_data_primary:
